.btn {
  padding: 10px 15px;
  font-size: $font-size;
  border-radius: 5px;
  background-color: $color-secondary;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-dark;
    transition: 0.3s;
  }
}

.btn-primary {
  background-color: $color-primary;
  border: 1px solid $color-primary;

  &:hover {
    background-color: $color-primary-dark;
  }
}
