/** Colors **/

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #6d45e8;
$color-primary-dark: #6943dc;

$color-success: #00d1b2;
$color-success-dark: #00c4a7;

$color-warning: #ffe08a;
$color-warning-dark: #ffdc7d;

$color-info: #3e8ed0;
$color-info-dark: #3488ce;

$color-error: #cc4b37;
$color-error-dark: #a53b2a;

$color-secondary: #4a4a4a;
$color-secondary-dark: #000;

$color-light: #f8f8f8;
$color-light-dark: #ebebeb;