/** Colors **/

$color-white: #ffffff;
$color-black: #000000;

$color-primary: #6d45e8;
$color-primary-dark: #6943dc;

$color-secondary: #4a4a4a;
$color-secondary-dark: #000;

$color-light: #f8f8f8;
$color-light-dark: #ebebeb;